* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    text-decoration: none;
}

.hero-section {
    width: 100%;
    height: 600px;
    background-image: url(socially_img/back-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}


.hero-section nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 18px;
    font-size: 1.3rem;
    font-weight: 600;
}

nav ul li a {
    color: black;
    position: relative;
}

nav ul li :hover {
    color: rgb(199, 23, 111);
}

nav ul li i {
    display: inline-block;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 0.2rem;
    background-color: rgb(199, 23, 111);
    /* transform: scale(1% ); */
    /* transform: translate(-50% -50%); */
    opacity: 0;
    transition: all 0.5s ease;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;

    /* transform: translate( 0% ); */
    opacity: 1;
}

.hero-section .btn a {
    margin-right: 20px;
    font-weight: 500;
    font-size: 1.25rem;
}

.hero-section .btn-app {
    border: none;
    border-radius: 25px;
    border-top-right-radius: 0px;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    /* background-color: rgb(199, 23, 111); */
}

.content-section {
    max-width: 600px;
    /* height: 100%; */
    margin-top: 6%;
    /* margin-left: 10%; */
    /* border: 2px solid black; */

}

.content-section h1 {
    font-size: 5rem;
    padding-top: 1.5rem;
}

.content-section p {
    font-size: 1.095rem;
    margin-top: 30px;
    font-weight: 500;
}

.content-section .btn-2 {
    margin-top: 30px;
    padding: 1rem 4.5rem;
    color: aliceblue;
}

.bg-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.bg-img img {
    width: 350px;
}

.anim-h1 {
    opacity: 0;
    transform: translatey(80px);
    animation: moveup 0.8s linear forwards;
}

.anim-p {
    opacity: 0;
    transform: translatey(80px);
    animation: moveup 0.8s linear forwards 0.5s;
}

.anim-btn {
    opacity: 0;
    transform: translatey(80px);
    animation: moveup 0.8s linear forwards 0.8s;
}

.anim-img {
    opacity: 0;
    transform: translatey(80px);
    animation: moveup 0.8s linear forwards 1s;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translatey(0px);
    }
}

/* responsive CSS */
@media (max-width:2000px) {
    nav .bars {
        display: none;
    }

    nav .btn .login-icon {
        display: none;
    }
}

@media (max-width:1367px) {
    .hero-section {
        padding: 10px 1%;
    }

    .bg-img {
        right: 0%;
    }

}

@media (max-width:1180px) {
    .hero-section {
        padding: 10px 2%;
    }

    .bg-img {
        right: -5%;
    }

    nav ul li {
        margin: 0 10px;
        font-size: 1.1rem;
    }

    .hero-section .btn a {
        margin-right: 8px;
        font-weight: 500;
        font-size: 1rem;
    }
}

@media (max-width:976px) {

    nav li {
        display: none;
    }

    /* nav .bars{
        display: inline-block;
    } */
    .bg-img {
        right: -20%;
    }

    .content-section h1 {
        font-size: 4rem;
        /* padding-top: 1.5rem; */
    }

    .content-section {
        max-width: 400px;
        position: relative;
        z-index: 999;
    }

    /* nav .bars{
        margin-left: auto;
        padding-right: 15px;
    } */
    nav .btn button,
    nav .btn a {
        display: none;
    }

    nav .btn .login-icon {
        display: inline-block;
        margin: 0 0.35rem;
    }

    nav .bars {
        display: inline-block;
    }

}


@media (max-width:534px) {
    .content-section {
        text-align: center;
        margin: auto;
    }

    .bg-img {
        right: -35%;
    }

    .bg-img {
        opacity: 0.9;
    }
}